/*styles.css*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    margin: 0;
}

header h1 {
    color: #fff;
}

nav {
    width: 100%;
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 20px;
    align-self: flex-start;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login-form label {
    display: block;
    margin: 10px;
}

.login-form input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login-form button {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login-form fieldset {
    border: none;
}

.login-form button:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.signup-link {
    color: #007BFF;
    margin: 10px;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

